#logo{
    width: 70px;
}
.topnavigation {
    background-color: rgb(136, 69, 14);
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.topnavigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.topnavigation li {
    margin-right: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnavigation a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.topnavegation a:hover {
    border-bottom: 2px solid #fff;
}
.firsttitle{
    padding-top: 10px;
    letter-spacing: 2px;
}

.firstbox{
    background: #0220a7d8;
    background-image: url(images/buyimage.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    height: 400px;
    text-align: center;
    color: rgb(252, 251, 251);
    font-family: 'Bangers', cursive;
}
.mainpicture{
    height: 70%;
    width: auto;
    margin:auto;
    display: block;
    padding: 10px;
}

.secondbox{
    background: linear-gradient(to bottom, #a8e063, #56ab2f);
    text-align: center;
    color: aliceblue;
    height: 600px;
    font-family:Arial, Helvetica, sans-serif; */
}

.secondtitlepicture{
padding: 20px;

}

.secondpicture{
    border: 10px solid rgba(111, 219, 233, 0.822);
    border-radius: 6px;
    height: 40%;
    vertical-align: text-top;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.secondpicture:hover{
    transform: scale(1.1);
}

.features{
    padding: 30px;
}

#logo img {
    max-width: 100px;
    height: auto;
}

#company-info {
    flex-grow: 1;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

label {
    color: #fff;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #64c935;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
